@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap');


*{
    margin: 0;
}

body {
    font-family:'Barlow', sans-serif;
}

p {
    font-family:'Barlow', sans-serif;
	font-size: 14px;
    margin: auto;
    text-align: center;
}

h1{
    text-align: center;
}

#portal{
    padding: 5%;
}

a {
    text-decoration: none;
}

#titulo{
    max-width: 20%;
}

#aneis {
    margin-inline-start: 5%;
    max-width: 15%;
}

#cloudplay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}


#botao{
    padding: 12%;
}

#botao:hover{
    background-image: linear-gradient(0deg, rgba(184,144,255,1) 0%, rgba(255,255,255,0) 38%);;
}

#text {
    color: #8b3cf9;
}

#intro {
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

body {
    margin: 0;

  }
  
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(230, 215, 250);
    justify-content: space-between;
}

#nav{
    display: inline-flex;
    margin-inline-end: 5%;
    gap:2em;
}

footer{
    display: flex;
    bottom: 0;
    position: fixed;
    text-align: center;
}

#logo{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

form{
    width: 300px;
    margin: 200px auto;
    text-align: center;
}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}

#videos{
    padding: 3%;
}